<?xml version="1.0" encoding="utf-8"?>
<!--
    SafeNet Shield - Personal Safety & Security Application
    
    Copyright (c) 2024 Mark Mikile Mutunga
    Email: markmiki03@gmail.com
    Phone: +254 707 678 643
    
    All rights reserved. This software and associated documentation files (the "Software"),
    are proprietary to Mark Mikile Mutunga. Unauthorized copying, distribution, or modification
    of this software is strictly prohibited without explicit written permission from the author.
    
    This software is provided "as is", without warranty of any kind, express or implied,
    including but not limited to the warranties of merchantability, fitness for a particular
    purpose and noninfringement. In no event shall the author be liable for any claim,
    damages or other liability, whether in an action of contract, tort or otherwise,
    arising from, out of or in connection with the software or the use or other dealings
    in the software.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.safenet.shield">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ShieldApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeNetShield"
        tools:targetApi="31">
        
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeNetShield.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />
            
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />
            
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />
            
        <activity
            android:name=".auth.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />
            
        <activity
            android:name=".auth.ProfileSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />
            
        <activity
            android:name=".auth.TwoFactorAuthActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />

        <activity
            android:name=".ReportActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />

        <activity
            android:name=".SafetyTipsActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />

        <activity
            android:name=".EmergencyContactsActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield" />

        <activity
            android:name=".ViewReportsActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNetShield.NoActionBar" />
    </application>

</manifest>